{% extends 'base.html.twig' %}
{% block title %}{{ post.title }}{% endblock %}
{% block body %}
<article>
    <h1>{{ post.title }}</h1>
    <summary>{{ post.summary }}</summary>
    <p>{{ post.content }}</p>
    <p>Posté le {{ post.createdAt|date("d/m/Y") }} par {{ post.author.fullName }}</p>
</article>
{% endblock %}